.form-container {
  display: block;
  max-width: 450px;
  background-color: rgb(225, 234, 249, 0.7);
  border-radius: 16px;
  height: 560px;
  margin: auto;
  margin-top: 30px;
}

.text {
  text-align: center;
  padding-top: 52px;
  color: #368EA3;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.mat-button,
.mat-raised-button {
  background-color: #F0D36D;
  border-color: none;
}

.foRm {
  align-items: center;
  align-content: center;
  opacity: 3.0 !important;
}

.form-container mat-form-field {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px;
}

.text-center {
  text-align: center;
}

mat-form-field {
  padding-left: 47px;
  padding-right: 47px;
}

.emailForm {
  padding-top: 30px;
}

*,
::after,
::before {
  color: #368EA3;
}

.loginButton {
  border-radius: 30px;
  width: 230px;
  color: #368EA3;
  height: 60px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.signUpButton {
  border-radius: 30px;
  width: 290px;
  color: #368EA3;
  height: 60px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 80px;
}

::ng-deep {
  body {
    background-color: #E1EAF9 !important;
  }

  mat-form-field-infix ng-tns-c79-24 {
    background-color: white;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0.5em 1em 0.5em;
    border-radius: 16px;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-start {
    background-color: white !important;
    border-radius: 25px 0 0 25px !important;
    min-width: 25px !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-gap {
    background-color: white !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-end {
    background-color: white !important;
    border-radius: 0 25px 25px 0 !important;
  }

  mat-form-field mat-label {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
    opacity: 1 !important;
    padding: 0 0 0 0;
  }
}

input[type="email"] {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

input[type="password"] {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}
